@model List<OrderVication>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = 1;
}
<h1> قائمة الطلبات</h1>
<h1> قبول او رفض</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>أسم الموظف</th>
                <th>نوع الاجازة</th>
                <th>تعليق</th>
                <th>قبول</th>
                <th>رفض</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td>@num </td>
                <td>@item.Employee.Name </td>
                <td>@item.TypeVications </td>
                <td  class="comment"><input type="text" name="comment" id="comment" value="" /> </td>
                <td> <input type="button" name="name" onclick="UpdateData(@item.ID,1,this)" value="قبول" /> </td>
                <td> <input type="button" name="name" onclick="UpdateData(@item.ID,0,this)" value="رفض" /> </td>
            </tr>
                num++;
            }

        </tbody>
    </table>
</div>
<br /><br /><br /><br /><br /><br /><br />
<script>
    function UpdateData(ID, type, ME) {
      var comment=  $(ME).closest('tr').children('td').find('#comment').val();
        var status = '';
        if (type == 1) {
            status = 1;
        } else {
            status = 2;
        }

           $.ajax({
            url: "/Manager/UpdateData",
            type: "POST",
               data: JSON.stringify({ ID: ID, comment: comment, status: status }),
            contentType: "application/json; charset=utf-8",
            dataType: "json", 
            success: function (data) {
                if (data.status == "Success") {
                    alert("Done");
                    @*window.location.href='@Url.Action("Index", "Home" )'*@
                } else {
                    alert("Error occurs on the Database level!");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    }
</script>
